/* CONTENT */

.content {
    position: fixed;
    /* margin-left: 250px; */
    top: var(--header-height);
    left: var(--sidebar-width);
    right: 0;
    /* background: url(background.png) no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    height: 100vh;
    transition: 0.5s;
}
