/* CONTENT */
.content {
    grid-area: content;
    position: fixed;
    right: 0;
    top: calc(var(--header-height));
    left: calc(var(--sidebar-width));
    overflow-y: auto;
    /* height: 93vh; */
    /* padding: 1rem; */
    /* max-width: 900px; */
    /* margin: 0 auto; */
    /* padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem; */
}
