/* HEADER */
.header {
    grid-area: header;
    width: 100%; /* new */
    height: 8vh;
    /* background: linear-gradient(135deg, #8844ee, #b07dfb); */
    background: #fff;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    /* GET FIXED ON BOTTOM */
    position: fixed;
    top: 0;
    box-sizing: border-box;
}

.logo {
    color: #2f414d;
    font-weight: bold;
    font-size: 2.2rem;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.8rem;
    /* background: rgba(0, 0, 0, 0.1); */
    /* border-radius: 0.5rem; */
    transition: 0.25s;
}

.header nav a:hover {
    color: rgba(0, 0, 0, 1);
}

/* .header li + li {
    margin-left: 1rem;
} */

.header li {
    margin-right: 1rem;
}

.nav-link {
    display: flex;
    padding: 0.5rem;
    background-color: tomato;
}
