/* HEADER */
header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background: #22242a;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label #checked_sidebar {
    /* z-index: 1; */
    color: #fff;
    /* position: fixed; */
    cursor: pointer;
    /* left: 300px; */
    font-size: 20px;
    /* margin: 5px 0; */
    transition: 0.5s;
    transition-property: color;
}

label #checked_sidebar:hover {
    color: #19b3d3;
}

.left_area {
    display: flex;
    align-items: center;
    width: var(--sidebar-width);
    justify-content: center;
    /* justify-content: center; */
    /* align-content: center; */
    /* justify-content: space-between; */
}

.left_area h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #19b3d3;
}

.logo_home {
    padding-right: 2rem;
}

.right_area {
    display: flex;
    align-items: center;
}

.right_area .header-link {
    padding: 2.5rem;
    /* background: tomato; */
    font-size: 1.6rem;
    color: #fff;
    transition-duration: 0.5s;
    transition-property: all;
}

.right_area .header-link:hover {
    font-weight: bold;
    background: #19b3d3;
}
