* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
    --header-height: 55px;
    --sidebar-width: 250px;
    --sidebar-height: 100%;
    /* --content-width: calc(100vh - var(--sidebar-width)); */
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', Georgia, serif;
    /* background-color: rgba(0,0,0,.1); */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* img {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
} */

/* GRID GERAL */
.main-grid {
    display: grid;
    /* grid-template-columns: minmax(160px, 1fr) 3fr 300px; */
    grid-template:
        'header header header'
        'sidenav content content'
        /* 'footer footer footer' */
        / minmax(160px, 1fr) 3fr 30rem;
}

/* ANUNCIOS */
.anuncios {
    grid-area: anuncios;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 2rem;
    grid-gap: 2rem;
    /* grid-template-rows: 270px; */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* FOOTER */
/* .footer {
    grid-area: footer;
    height: 3vh;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding: 0.5rem;
    position: sticky;
    bottom: 0;
    width: 100%; 
    left: 0;
    bottom: 0;
    right: 0; 
}

.footer p {
    color: white;
    font-weight: bolder;
    text-align: center;
} */

/* CUSTOM SCROLL */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
