* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
    --header-height: 70px;
    --sidebar-width: 220px;
    --sidebar-height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', Georgia, serif;
    /* background-color: rgba(0,0,0,.1); */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#check:checked ~ .sidebar {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* background: #2f323a;
    position: fixed;
    top: 70px;
    padding: 2rem; */
    /* padding-top: 30px; */
    /* left: 0; */
    width: 60px;
    /* height: 100%; */
    transition-duration: 0.5s;
    transition-property: width;
}

#check:checked ~ .sidebar a {
    /* font-size: 25px; */
    /* align-items: center; */
    /* margin-left: 170px; */
    /* width: 80px; */

    /* line-height: 50rem; */
    /* width: 50px; */
    /* transition: 0.5s; */
    /* transition-property: background; */
}

#check:checked ~ .sidebar a span {
    display: none;
}

#check:checked ~ .content {
    /* margin-left: 60px; */
    left: 60px;
}

#check {
    display: none;
}

/* CUSTOM SCROLL */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
