/* SIDENAV */
.sidenav {
    grid-area: sidenav;
    height: 92vh;
    width: 15vw;
    overflow: auto;
    position: fixed;
    top: 8vh;
    left: 0;
    /* background: #fafbfc; */
    background: #2f414d;
    padding: 0.25rem;
    /* min-height: 65vh; */
}

.sidenav li a {
    display: block;
    max-width: 100%;
    margin: 0 auto 1rem auto;
    background: #2f414d;
    padding: 0.5rem;
    /* border-radius: 0.5rem; */
    box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(44, 44, 44, 0.15);
    color: white;
}

.sidenav li a:hover {
    background: #87cefa;
    transition: 0.5s;
}
